<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{Layout}">
<body>

<section layout:fragment="content-section">
    <div class="container">
        <div class="row col-sm-12 col-md-6 col-lg-6">
            <div th:switch="${msg}">
                <p th:case="${msg}"><span th:text="${msg}"></span></p>
                <p th:case="*"> <h6>Edit Picture:</h6></p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-4">
                <a th:href="@{'/imageDisplay?id='+${entity.getImageId()}}" style="background: white"><img
                        th:src="@{'/imageDisplay?id='+${entity.getImageId()}}" class="showImage"/></a>
                <div sec:authorize="hasRole('ROLE_ADMIN')">
                    <form th:action="@{/deleteImage}" class="mt-2">
                        <button type="submit" name="imageid" th:value="${entity.getImageId()}" class="btn btn-danger">
                            Delete Picture
                        </button>
                        <br>
                    </form>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-8 clearfix visible-sm-block">
                <div class="row">
                    <div class="col-sm-12 col-md-6 col-lg-6">
                        <h6>
                            <small class="text-muted">ID:</small>
                            <span class="mt-1" th:text="${entity.getImageId()}"></span>
                        </h6>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-6 col-lg-6">
                        <h6 class="mt-2">
                            <small class="text-muted">Type:</small>
                            <span class="mt-1" th:text="${entity.getImageType()}"></span>
                        </h6>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-6 col-lg-6">
                        <h6 class="mt-2">
                            <small class="text-muted">Size:</small>
                            <span class="mt-1" th:text="${entity.getImageSize()}"></span>
                        </h6>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-6 col-lg-6">
                        <h6 class="mt-2">
                            <small class="text-muted">File Name:</small>
                            <span class="mt-1" th:text="${entity.getImageName()}"></span>
                        </h6>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-6">
                        <div sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_USER')">
                            <form th:action="@{/changename}">
                                <input type="text" name="nametext" class="form-control" required>
                                <button type="submit" name="editnumber" th:value="${entity.getImageId()}"
                                        class="btn btn-primary btn-sm mt-1">Change File Name
                                </button>
                                <br>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-6 col-lg-6">
                        <h6 class="mt-3">
                            <small class="text-muted">Tags:</small>
                            <span class="mt-1" th:text="${service.getTagName(entity.imageId)}"></span>
                        </h6>
                        <div sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_USER')">
                            <form th:action="@{/deleteTag}" class="mt-2">
                                <button name="deleteTag" type="submit" th:value="${entity.getImageId()}"
                                        class="btn btn-warning btn-sm">Delete All Tags
                                </button>
                                <!--<button class="btn" name="deleteTag" onClick="window.location.reload()"></button>-->
                            </form>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-6">
                        <div sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_USER')">
                            <form th:action="@{/editTag}" class="mt-2">
                                <input type="text" name="text" class="form-control" required>
                                <button type="submit" name="editTag" th:value="${entity.getImageId()}"
                                        class="btn btn-primary btn-sm mt-1">Add Tag
                                </button>
                                <br>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
            <div class="clearfix visible-sm-block"></div>
        </div>

    </div>
</section>

</body>

</html>