<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Basic Bootstrap Template</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <!-- Optional Bootstrap theme -->
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap-theme.min.css}">
    <link rel="stylesheet" th:href="@{/css/main.css}" href="../static/css/main.css">
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>-->
    <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>-->
</head>
<body>

<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="/">
        <img th:src="@{/images/upload.png}" alt="upload logo" title="Upload logo" width="30" class="d-inline-block align-top"/>
        Home
    </a>
    <a class="navbar-brand" href="/results/search=">
        <img th:src="@{/images/Search-512.png}" alt="search logo" title="search logo" width="30" class="d-inline-block align-top"/>
        Search
    </a>
</nav>

<div class="container mt-3">
<!--<div th:if="${msg}">-->
    <!---->
<!--</div>-->
<div class="container mt-3">
        <div class="row">
                <span class="showdeleted" th:text="${msg}"></span>
        </div>
    </div>
</div>
</body>

</html>