<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{Layout}">
<body>
<section layout:fragment="content-section">
    <div class="container">

        <form method="post" th:action="@{/results/search=}" enctype="multipart/form-data">
            <div class="row col-sm-12 col-md-6 col-lg-6 mt-3">
                <!--<div class="col-auto">-->
                <!--<img th:src="@{/images/Search-512.png}" alt="search logo" title="Search logo" class="uploadsearch" />-->
                <!--</div>-->
                <p>by:</p>
                <label class="radio col-sm-auto">
                    <input type="radio" name="optradio" value="ID" th:checked="${#strings.equals(lastchecked, 'ID')}">ID
                </label>
                <label class="radio col-sm-auto">
                    <input type="radio" name="optradio" value="File Name"
                           th:checked="${#strings.equals(lastchecked, 'File Name')}">File Name
                </label>
                <label class="radio col-sm-auto">
                    <input type="radio" name="optradio" value="Tag" th:checked="${#strings.equals(lastchecked, 'Tag')}">Tag
                </label>
                <label class="radio col-sm-auto">
                    <input type="radio" name="optradio" value="Type"
                           th:checked="${#strings.equals(lastchecked, 'Type')}">Type
                </label>
                <label class="radio col-sm-auto">
                    <input type="radio" name="optradio" value="Size"
                           th:checked="${#strings.equals(lastchecked, 'Size')}">Size
                </label>
            </div>
            <div class="row">

                <!--<div class="col-sm-12 col-md-6 col-lg-4 ">-->
                <div class="col-auto">
                    <input class="form-control" type="text" name="searchtext" th:placeholder="${showsearch}"
                           aria-label="Search">
                </div>
                <div class="col-sm-12 col-md-6 col-lg-4">
                    <input class="btn btn-outline-primary" type="submit" value="Search">
                </div>
            </div>
        </form>

        <div class="row mt-5">
            <div class="col-auto mr-auto"><span th:text="${searchresult}"></span></div>
            <div class="col-auto"><span>Found: </span>
                <span th:text="${users.size()}"></span>
            </div>
        </div>

        <div class="row mt-1">
            <div th:if="${users.size()>0}">
                <table class="table table-responsive" id="table" style="text-align: center">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">File Name</th>
                        <th scope="col">Tags</th>
                        <th scope="col">Type</th>
                        <th scope="col">Size</th>
                        <th scope="col">Image</th>
                        <th scope="col">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                    <tr th:each="user: ${users}">

                        <td th:text="${user.getImageId()}"></td>
                        <td th:text="${user.getImageName()}">45</td>
                        <td th:text="${service.getTagName(user.getImageId())}">45</td>
                        <td th:text="${user.getImageType()}">45</td>
                        <td th:text="${user.getImageSize()}">45</td>
                        <td><a th:href="@{'/imageDisplay?id='+${user.getImageId()}}" style="background: white"><img
                                th:src="@{'/smallimageDisplay?id='+${user.getImageId()}}" height="100"/></a></td>
                        <td>
                            <form th:action="@{/edit}" th:value="${user.getImageId()}">
                                <button class="btn btn-outline-primary" type="submit" name="edit"
                                        th:value="${user.getImageId()}">
                                    <div sec:authorize="isAuthenticated()"><span>Edit</span></div>
                                    <div sec:authorize="!isAuthenticated()"><span>View</span></div>
                                </button>
                            </form>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>


            <div th:if="${emptytext}" class="container row row justify-content-md-center mt-3">
                <span style="color: dodgerblue" th:text="${emptytext}"></span>
            </div>
        </div>

    </div>
</section>

</body>
</html>